{% load static %}
<script src="{% static '3js/build/three.js' %}"></script>
<script src="{% static '3js/examples/loaders/GLTFLoader.js' %}"></script>

<!-- THREE.JS RGBE loader - you can remove it if you don't use envmap: -->
<script src="{% static '3js/examples/loaders/RGBELoader.js' %}"></script>

<!-- THREE.JS postprocessing - you can remove it if you don't use bloom or temporal anti aliasing : -->
<script src="{% static '3js/examples/postprocessing/EffectComposer.js' %}"></script>
<script src="{% static '3js/examples/postprocessing/ShaderPass.js' %}"></script>
<script src="{% static '3js/examples/postprocessing/RenderPass.js' %}"></script>
<script src="{% static '3js/examples/shaders/CopyShader.js' %}"></script>

<!-- Bloom postprocessing: -->
<script src="{% static '3js/examples/postprocessing/UnrealBloomPass.js' %}"></script>
<script src="{% static '3js/examples/shaders/LuminosityHighPassShader.js' %}"></script>

<!-- TAA specifics: -->
<script src="{% static '3js/examples/postprocessing/SSAARenderPass.js' %}"></script>
<script src="{% static '3js/examples/postprocessing/TAARenderPass.js' %}"></script>

<!-- Web AR scripts    -->
<script type="text/javascript" src="{% static 'WebAR/js/WebARRocksFace.js' %}"></script>
<script type="text/javascript" src="{% static 'WebAR/helpers/WebARRocksFaceThreeHelper.js' %}"></script>
<script type="text/javascript" src="{% static 'WebAR/helpers/WebARRocksFaceDebugHelper.js' %}"></script>
<script type="text/javascript" src="{% static 'WebAR/helpers/WebARRocksResizer.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'WebAR/helpers/stabilizers/WebARRocksLMStabilizer2.js' %}"></script>-->
<script type="text/javascript" src="{% static 'WebAR/helpers/stabilizers/OneEuroStabilizer.js' %}"></script>

<script type="text/javascript" src="{% static 'WebAR/helpers/WebARRocksMirror.js' %}"></script>