{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Web AR demo</title>

    {% include "base_webar.html" %}

    <link rel="stylesheet" href="{% static 'css/helmet.css' %}">

    <script type="text/javascript">
        const nnPath = "{% static 'WebAR/neuralNets/NN_HEADPHONES_3.json' %}"
        const occluderPath = "{% static 'WebAR/assets/models3D/occluder.glb' %}"
        const modelPath = "{% static 'WebAR/assets/models3D/Recon_Helmet2.glb' %}"
        const envPath = "{% static 'WebAR/assets/models3D/venice_sunset_1k.hdr' %}"
        const appId = "{{ agora_app_id }}"
        const token = "{{ rtc_token }}"
        const uid = "{{ uid }}"
    </script>

    <!-- Main script    -->
    <script type="module" src="{% static 'js/helmet.js' %}"></script>

</head>
<body>
    <h4>Local video</h4>
    <canvas id='WebARRocksFaceCanvas'></canvas>

    <canvas id='threeCanvas'></canvas>

<!--    <div id='controls'>-->
<!--      <div onclick = 'WebARRocksMirror.load("assets/models3D/headphones.glb")'>Headphones</div>-->
<!--      <div onclick = 'WebARRocksMirror.load("assets/models3D/motorcycleHelmet.glb")'>Motorcycle helmet</div>-->
<!--      <div onclick = 'WebARRocksMirror.load(false)'>Video only</div>-->
<!--      <div onclick = 'WebARRocksMirror.pause(true)'>Pause</div>-->
<!--      <div onclick = 'WebARRocksMirror.resume(true)'>Resume</div>-->
<!--      <div onclick = 'WebARRocksMirror.resize(400, 400)'>Resize</div>-->
<!--      <div onclick = 'capture_image()'>Capture</div>-->
<!--    </div>-->

</body>
</html>

