body {
    margin: 0;
    background-color: silver;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page #container div {
    max-width: 1080px;
    max-height: 720px;
    display: block;
}

#local_stream {
    transform: rotateY(180deg);
    text-align: left;
    margin-top: 16px;
    justify-self: center;
    border: 2px solid #099dfd;
    width: 700px;
    height: 400px;
}